body {
  margin: 0;
  background-color: #009933;
  height: 100%;
  min-height: 100%;
}
.outer-container {
  color: white;
  margin-top: 11%;
  text-align: center;
}
button {
  border: none;
  color: black;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.auth-pic {
  height: 60px;
  width: 60px;
  margin-bottom: 20px;
}
.footer {
  width: 100%;
  height: 200px;
}
.footer-company-name {
  color: white;
  font-size: 20px;
  margin: 0;
  padding-bottom: 5px;
  text-align: center;
  position: relative;
  top: -10%;
}
.social-media {
  text-align: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  background-color: #009933;
  color: white;
}
